* {
  margin: 0;
}

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}


.container {
  max-width: 900px;
  margin: 40px auto;
}

.grid {
  padding: 0 30px;
}
h1 {
  color: #575F7D;
  font-size: 2.4em;
  font-weight: 900;
}

h2 {
  color: #7ECE90;
  font-size: 1.8em;
  font-weight: lighter;
  font-weight: 500;
  margin-bottom: 35px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: black;
}

.img-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-image: url("images/me.jpg");
  background-position: center;
}

.flames {
  display: hidden;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: lighter;
  padding: 20px 0 35px 0;
}

/* ############# GETS CRAZY DOWN HERE ################### */

@media (max-width: 640px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

    body {
    background: pink;
    color: brown;
    font-family: 'Snowburst One', cursive;
  }

  .container {
    margin: 0 auto;
    width: 800px;
  }

  .card{
    margin: 20px 0;
    background: olivedrab;
    border-radius: 40px;
    text-align: center;
    padding: 30px 10px;
  }


  h1 {
    color: red;
    font-family: 'Butcherman', cursive;
    font-size: 3em;
    margin: 0px;
  }

  h2 {
    color: lime;
    font-family: 'Butcherman', cursive;
    margin: 0px;
  }

  h3 {
    color: purple;
    font-family: 'Butcherman', cursive;
  }

  .btn {
    background: peru;
    padding: 12px 40px;
    border-radius: 5em;
  }

  .list-inline {
    list-style: none;
    padding-left: 0px;
  }

  .list-inline li {
    display: inline;
    padding: 10px;
  }
  .list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
  }
  .list-inline i:hover {
    color: black;
  }

  .flames {
    background-image: url("images/flame.gif");
    background-repeat: repeat;
    width: 100%;
    height: 50px;
  }

}

/* ##### Crazyness is over #### */

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: #6B72E1;
  color: white;
}
.list-inline {
  list-style: none;
  padding-top: 0;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: #6B72E1;
}

